<template>
  <section>
    <button class="button field is-danger" @click="deleteReports"
            :disabled="!checkedRows.length">
      <b-icon icon="delete"></b-icon>
      <span>Poista valitut</span>
    </button>
    <b-tabs>
      <b-tab-item label="Valitse">

        <b-table
          :data="data"
          :loading="loading"

          :checked-rows.sync="checkedRows"
          checkable

          paginated
          backend-pagination
          :total="total"
          :per-page="perPage"
          @page-change="onPageChange"

          detailed
          detail-key="id"

          backend-sorting
          :default-sort-direction="defaultSortOrder"
          :default-sort="[sortField, sortOrder]"
          @sort="onSort">

          <template slot-scope="props">
            <b-table-column field="report_time" label="Ajankohta" sortable>
              {{ formatDateTime(props.row.report_time) }}
            </b-table-column>
            <b-table-column field="user" label="Tekijä" sortable>
              {{ props.row.user.firstname }} {{ props.row.user.lastname }}
            </b-table-column>
            <b-table-column field="location" label="Kohde" sortable>
              {{ props.row.event.location }}
            </b-table-column>
            <b-table-column field="event" label="Tapahtuma" sortable>
              {{ props.row.event.type }} {{ props.row.event.subType ? ' / '+props.row.event.subType : '' }}
            </b-table-column>
            <b-table-column field="text" label="Raportti" sortable>
              {{ props.row.text | truncate(60) }}
            </b-table-column>
           <!-- <b-table-column field="send" label="Lähetetty asiakkaalle" sortable>
              {{ props.row.event.send | formatBoolean }}
            </b-table-column> -->
          </template>

          <template slot="detail" slot-scope="props">
            <article class="media">
              <div class="content">
                <p>
                  {{ props.row.text  }}
                </p>
                <div v-if="props.row.images.length>0" class="images">
                  <h3>Kuvat</h3>
                  <a v-for="image in props.row.images" :href="image.full"><img  style="width:300px;height:auto;" :src="image.thumb" /></a>
                </div>
              </div>
            </article>
          </template>
        </b-table>
      </b-tab-item>
    </b-tabs>

    </b-table>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        data: [],
        total: 0,
        loading: false,
        checkedRows: [],
        sortField: 'lastname',
        sortOrder: 'desc',
        defaultSortOrder: 'desc',
        page: 1,
        perPage: 20
      }
    },

    methods: {
      /*
       * Load async data
       */
      loadAsyncData() {
        this.loading = true
        axios.get('/api/v1/report?sort_by=' + this.sortField + '&sortOrder=' + this.sortOrder + '&page=' + this.page)
          .then(({data}) => {
            this.data = [];
            this.total = data.data.length;

            data.data.forEach((item) => this.data.push(item));
            this.loading = false
          }, response => {
            this.data = [];
            this.total = 0;
            this.loading = false
          })
      },

      deleteReports() {
        this.$dialog.confirm({
          title: 'Raporttien poistaminen',
          message: 'Haluatko varmasti poistaa valitut raportit? Poistamista ei voi perua.',
          confirmText: 'Poista raportit',
          cancelText: 'Peruuta',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: () => {
            this.checkedRows.forEach((row, index) => {
              console.log(row);
              axios.delete('/api/v1/report/' + row.id)
                .then(({data}) => {
                  this.checkedRows.splice(index, 1);
                  this.$toast.open({message: 'Raporttien poistaminen onnistui!', type: 'is-success'});
                }, response => {
                  this.$toast.open({message: 'Raporttien poistaminen epäonnistui!', type: 'is-danger'});
                })
            });
            this.loadAsyncData();
          }
        })
      },

      formatDateTime: function (date) {
        return moment(date).format("DD.MM.YYYY [klo] HH.mm");
      },


      /*
 * Handle page-change event
 */
      onPageChange(page) {
        this.page = page;
        this.loadAsyncData()
      },
      /*
     * Handle sort event
     */
      onSort(field, order) {
        this.sortField = field;
        this.sortOrder = order;
        this.loadAsyncData()
      },

      type(value) {
        const number = parseFloat(value)
        if (number < 6) {
          return 'is-danger'
        } else if (number >= 6 && number < 8) {
          return 'is-warning'
        } else if (number >= 8) {
          return 'is-success'
        }
      },

    },

    filters: {
      formatBoolean(value) {
        return value ? 'Kyllä' : 'Ei';
      },

      truncate(value, length) {
        if (!value) return '';
        return value.length > length
          ? value.substr(0, length) + '...'
          : value
      }
    },

    mounted() {
      this.loadAsyncData();
    }
  }
</script>
